<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>todo list vue</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

<div id="app" class="center-div">
  <div id="header" class="left-div">
    <h2>To-Do List</h2>
    <div>
      新增：<input type="text" id="text" v-model:value="input_value">
      <input type="submit" value="新增" id="submit" v-on:click="newToDo">
      <input type="button" value="清除" id="clear">
    </div>
  </div>

  <div>
    <div id="todo" class="list">
      <p>TO-DO</p>
      <div class="left-div">
        <div class="li-div">
          <todo-item
            v-for="list in lists"
            v-if="list.status == 'todo'"
            v-bind:todo="list"
          >
          </todo-item>
        </div>
      </div>
    </div>

    <div id="done" class="list">
      <p>DONE</p>
      <div class="left-div">
        <div class="li-div">
          <todo-item
            v-for="list in lists"
            v-if="list.status == 'done'"
            v-bind:todo="list"
          >
          </todo-item>
        </div>
      </div>
    </div>
  </div>
</div>

  
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script  src="./script.js"></script>
</body>
</html>
